# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE (Visual Studio Code)
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Environments
.env
.env.*

# Python Tools
.idea/
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Miscellaneous
*.log
*.bak
*.tmp
*.swp
*~

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints
